body {
    background-image: url("img/background_tile.png");
    height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.centered_block {
    text-align: center;
    margin: 30px auto;
}

.main_title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
}

img {
    height: 800px;
    /* object-fit: contain; */
}

.slide {
    outline: none;
    /* height: 800px; */
}

.slick-track {
    height: 800px;
}

.slick-prev:before,
.slick-next:before {
    color: #86878b;
}

.slick-prev:before,
.slick-next:before {
    color: #86878b;
}